.container-for-table {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

.extracted {
    background-color: lightblue;
}